@import url("https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700");

body {
  background-color: #f1f1f1;
  font-family: "Nunito", sans-serif;
}

/*     Navigation bar customisation      */
.navbar {
  height: 100px;
}

.bg-custom {
  background-color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: #a1a1a1;
  font-size: 1em;
  font-weight: 700;
}

.fas {
  padding-right: 5px;
}

.navbar-brand img {
  width: 108px;
  height: 67.5px;
}

/*  End  navigation bar customisation      */

/*--------Footer---------------*/

footer {
  background-color: #000000;
  min-height: 150px;
  position: bottom;
}

.social-links li a i {
  padding-top: 20px;
  height: 40px;
  weight: 40px;
}

.contact-custom {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.fa-facebook {
  color: #3b5998;
}

.fa-instagram {
  color: #e95950;
}
