@import url("https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700");

body {
  background-color: #f1f1f1;
  font-family: "Nunito", sans-serif;
  padding-top: 100px;
}

.row-bg {
  background-color: #ffffff;
}

/*-------Navigation bar customisation---------*/

.bg-custom {
  background-color: #ffffff;
}
.navbar .nav-links-pos {
  flex-direction: row;
  align-self: flex-end;
}

.navbar-light .navbar-nav .nav-link {
  color: #a1a1a1;
  font-size: 1em;
  font-weight: 700;
  transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -webkit-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
}

/* Navbar links hover  */
.navbar-light .navbar-nav .nav-link:hover {
  color: #000000;
}
/* End Navbar links hover  */
.fas {
  padding-right: 5px;
}

.navbar-brand img {
  width: 120px;
  height: 75px;
}

/*-------End  navigation bar customisation---------*/

/*-------Main content customisation-------*/

/*    Image customisation   */
.img-custom {
  width: 100%;
  border-radius: 5px;
}
/*    End Image customisation   */

/*  Text customisation inside main content */

.text {
  line-height: 1.6rem;
}

/* Center text on images*/
.text-center {
  position: relative;
}

.heading-center {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}
/* End Center text on images*/

/* Project status with progress bar*/

.progress {
  position: relative;
  height: 25px;
  margin-bottom: 4px;
  background-color: #a9a9a9;
}

.progress-type {
  position: absolute;
  left: 0px;
  font-weight: 500px;
  padding: 3px 30px 2px 10px;
  color: #ffffff;
}

/*Volunteer button custom*/
.btn-info {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* End Project status with progress bar*/

.row-custom {
  padding: 80px 50px 80px;
}
.row-custom-project {
  padding-bottom: 80px;
  padding-left: 50px;
}
.row-custom-status {
  padding-left: 50px;
  padding-bottom: 5px;
}

/*  End Text customisation inside main content */

/*-------Headings----------*/
h2 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
}

h4,
h5 {
  font-weight: 600;
  margin-bottom: 0px;
}

.album-heading {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

/*-------End Headings--------*/

/*---------Media for small devices removing margins and paddings-----*/
@media (max-width: 576px) {
  .row-custom {
    padding: 0px;
  }

  .row-custom-project {
    padding: 0px;
  }
  .row-custom-status {
    padding: 0px;
  }
  .text-center {
    padding: 0px 0px 5px;
  }
}

/* Carousel customisation for small and big devices-put it in container */

/*-------End Main content customisation-------*/

/*--------Footer---------------*/

footer {
  background-color: #000000;
  min-height: 150px;
  position: bottom;
}

.social-links li a i {
  padding-top: 20px;
  font-size: 40px;
}

.social-links li a i:hover {
  color: #ffffff;
}

.contact-custom {
  color: #ffffff;
}

.contact-custom-copyright {
  color: #ffffff;
  font-size: 10px;
  margin-top: 40px;
}

.fa-facebook {
  color: #3b5998;
  transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -webkit-transition: color 1s ease-in-out;
  -o-transition: color 1s ease-in-out;
}

.fa-instagram {
  color: #e95950;
  transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -webkit-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
}
