@import url("https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700");

body {
  background-color: #f1f1f1;
  font-family: "Nunito", sans-serif;
  padding-top: 100px;
}

/*-------Navigation bar customisation---------*/
.row-bg {
  background-color: #ffffff;
}

.bg-custom {
  background-color: #ffffff;
}
.navbar .nav-links-pos {
  flex-direction: row;
  align-self: flex-end;
}

.navbar-light .navbar-nav .nav-link {
  color: #a1a1a1;
  font-size: 1em;
  font-weight: 700;
  transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -webkit-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
}

/* Navbar links hover and current state color */
.navbar-light .navbar-nav .nav-link:hover {
  color: #000000;
}

.navbar-brand img {
  width: 120px;
  height: 75px;
}

.navbar-light .navbar-nav .current {
  color: #000000;
}
/* End Navbar links hover  */

.fas {
  padding-right: 5px;
}

/*-------End  navigation bar customisation---------*/

/*-------Main content customisation-------*/

/*  Rows and cols margins and paddings  */

.row-custom {
  padding: 80px 50px 80px;
}
.row-custom-project {
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
}
.row-custom-status {
  padding-left: 50px;
  padding-bottom: 5px;
}

.cyclo-status-heading {
  margin-right: 27px;
}

/*  Rows and cols margins and paddings  */

/*    Images set as background and heading centered  */
.image-container-rrs {
  background: url("../images/cover_rrs.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-container-durusa {
  background: url("../images/cover_durusa.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-container-hambar {
  background: url("../images/cover_hambar.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-container-cyclo {
  background: url("../images/cover_cyclo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-container-campus {
  background: url("../images/cover_campus.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-container-summerhills {
  background: url("../images/cover_summerhills.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}

.image-container-map {
  background: url("../images/map_durusa.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  border-style: solid;
  border-width: 3px;
}

/*  End Image customisation */

/*  Text customisation */

.text {
  line-height: 1.6rem;
}

.contact-center {
  text-align: center;
}

/* End text customisation  */

/*   Carousel and background images media breakpoints because of different sizes of the images */

.carousel-custom {
  max-height: 500px;
}

.carousel-container {
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .carousel-custom {
    max-height: 450px;
  }
  .image-container-summerhills {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .carousel-custom {
    max-height: 320px;
  }
  .image-container-rrs {
    height: 400px;
  }
  .image-container-durusa {
    height: 300px;
  }
  .image-container-summerhills {
    height: 360px;
  }
}

@media (max-width: 568px) {
  .carousel-custom {
    max-height: 210px;
  }
}

/* End Carousel customisation*/

/* Project status with progress bar - text inside the bars*/

.progress {
  position: relative;
  height: 25px;
  margin-bottom: 4px;
  background-color: #a9a9a9;
}

.progress-type {
  position: absolute;
  left: 0px;
  font-weight: 400;
  padding: 3px 30px 2px 10px;
  color: #ffffff;
}

/* End Project status with progress bar*/

/*    Buttons    */
.btn-info {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-info {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 25px;
}

.btn-danger {
  border-radius: 25px;
}

.form-button {
  margin-bottom: 15px;
}

/*     End buttons    */

/*   Form customisation   */
.form-custom {
  margin-bottom: 50px;
  background-color: #b1b1b1;
  border-radius: 0.2rem;
}

/*  End Form customisation   */

/*-------Headings----------*/
h2 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 10px;
}

h4,
h5 {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.album-heading {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

/*-------End Headings--------*/

/*-----Video responsive to all screen sizes------*/
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .iframe-container {
    padding-bottom: 56.25%;
  }
}

/*   End Video responsive */

/*-------End Main content customisation-------*/

/*--------Footer--------*/

footer {
  background-color: #000000;
  min-height: 150px;
}

.social-links li a i {
  padding-top: 20px;
  font-size: 40px;
}

.social-links li a i:hover {
  color: #ffffff;
}

.contact-custom {
  color: #ffffff;
}

.contact-custom-copyright {
  color: #ffffff;
  font-size: 10px;
  margin-top: 40px;
}

.fa-facebook {
  color: #3b5998;
  transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -webkit-transition: color 1s ease-in-out;
  -o-transition: color 1s ease-in-out;
}

.fa-instagram {
  color: #e95950;
  transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -webkit-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
}

/*---------End Footer---------*/

/*---------Media for small devices removing margins and paddings-----*/
@media (max-width: 767px) {
  .row-custom {
    padding: 0px;
  }

  .row-form {
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-small {
    padding: 0px;
  }

  .row-custom-project {
    padding: 0px;
  }
  .row-custom-status {
    padding: 0px;
  }
  .text-center {
    padding: 0px 0px 5px;
  }
}
